<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>myApparel.com</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">myApparel.com</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div>
          <div class="row centre">
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Air Force 1 07</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$100</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p2.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Jordan Delta 2</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$130</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p3.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Jordan 1 Centre Court</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$130</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p4.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Jordan Point Lane</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$140</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p5.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Air Jordan 1 Hi FlyEase</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$140</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p6.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Jordan Why Not? Zer0.5</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$150</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p7.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Jordan MA2</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$125</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p8.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Sportswear Storm-FIT ADV</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$250</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p9.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Sportswear Therma-FIT Legacy</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p10.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Jordan Flight Heritage</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$150</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p11.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Jordan AJ5</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$35</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p12.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Standard Issue</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$160</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p13.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Sportswear Tech Fleece</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$220</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p14.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Jordan Max Aura 3</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/p15.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Project Rock BSR 2 Training Shoes</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$190</div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All rights reserved</footer>
    </div>
  </body>
</html>
